body {
    padding-top: 60px;
    padding-bottom: 20px;
}
footer 
{
    bottom:0;
    width:80%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    width: 75%;
    max-width: none;
}

.line-height-08 {
    line-height: 0.8;
}

/*.left-margin {
    margin-left: 1px;
}*/
/*.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    padding-left: 5px;
}*/
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse {
    background-color: #ffffff;
    border-color: #ffffff;
}

navbar-inverse2 {
    background-color: #ae0b05;
}

li {
    font-weight: bold;
    color: #ffffff;
    font-size: 18px;
    list-style-type: none;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0 36px;
    text-decoration: none;
}

.li-a-less-padding-left {
    /*display: block;
    color: white;
    text-align: center;*/
    padding: 0 36px 0 24px;
    /*text-decoration: none;*/
}

.li-a-no-padding-left {
    padding: 0 36px 0 0;
}

.li-a-no-padding-left-less-padding-right {
    padding: 0 10px 0 0;
}

.nav > li > a:hover, .nav > li > a:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #ae0b05;
}

.navbar-actionlink {
    font-weight: normal;
    color: #ffffff;
    font-size: 18px;
    /*margin-top: 18px; */
    margin-top: 7px;
    margin-bottom: auto;
    text-decoration: none;
}

.navbar-actionlink:hover, navbar-actionlink:focus {
    color: #ffffff;
    text-decoration: underline;
}

.text-danger > ul > li {
    color: #b94a48 !important;
    float: none !important;
    margin-left: 7.5%;
}

.logoff {
    padding-top: 0;
    font-weight: normal;
    color: red;
    font-size: 20px;    
    padding-right: 15px;
    margin-top: -4px;
   
    
}

.user-id {
    padding-top: 0;
    font-weight: normal;
    color: #ffffff;
    font-size: 20px;
    margin-top: -4px;
}

#loginLink {
    padding-top: 16px;
    padding-right: 15px;
    font-weight: normal;
    color: #ffffff;
    font-size: 16px;
    margin-top: 6px;
}

#registerLink {
    padding-top: 16px;
    padding-right: 10px;
    font-weight: normal;
    color: #ffffff;
    font-size: 16px;
    margin-top: 6px;
}

.container {
    padding-left: 0;
}

.navbar-header {
    float: none;
}

.check-result-img {
    width: 15px;
    height: 15px;
    margin: 0 4px 4px 0;
}

.helsingborg-logo {
    width: 20%;
    height: 20%;
    margin: 15px 5px 10px 5px;
}

.bitoreq-logo {
    width: 20%;
    height: 20%;
    margin: 20px 5px 5px 5px;
    float: right;
}

.navbar-fixed-top2 {
    top: 100px;
}

.red-bar {
    height: 50px;
    width: 100%;
    background-color: #ae0b05;
}

.red-bar-filler {
    width: 158px;
    height: 50px;
    background-color: #ae0b05;
    float: left;
    margin-bottom: 6px;
}

.black-bar {
    height: 50px;
    width: 100%;
    background-color: black;
}

.black-bar-filler {
    width: 158px;
    height: 50px;
    background-color: black;
    float: left;
    margin-bottom: 6px;
}

.blue-bar {    
    height: 50px;
    width: 100%;
    background-color: #005c86;
}

.blue-bar-filler {
    width: 158px;
    height: 50px;
    background-color: #005c86;
    float: left;
    margin-bottom: 6px;
}

.assistant-claim {
    margin-top: 15px;
    margin-left: 15px;
}

.page-header {
    font-size: 50px;
    /*line-height: 34px;*/
    padding: 0 15px 0 18px;
    margin-top: 10px;
    margin-bottom: 0;
    /*margin-bottom: 40px;*/
    /*font-family: "caslonno224ef-blackregular", "Whitney SSm A", "Whitney SSm B", Arial, sans-serif;
    font-family: 'Chonburi', cursive;
    color: #202020;*/
    font-weight: bold;
    border: none;
}

.page-header1 {
    font-size: 50px;
    line-height: 1.0;
    padding: 0 15px 0 5px;
    margin-top: 151px;
    margin-bottom: 0;
    /*margin-bottom: 40px;*/
    /*font-family: "caslonno224ef-blackregular", "Whitney SSm A", "Whitney SSm B", Arial, sans-serif;
    font-family: 'Chonburi', cursive;
    color: #202020;*/
    font-weight: bold;
    border: none;
}

.page-header2 {
    font-size: 50px;
    /*line-height: 34px;*/
    padding: 0 15px 18px 0;
    margin-top: 10px;
    margin-bottom: 0;
    /*margin-bottom: 40px;*/
    /*font-family: "caslonno224ef-blackregular", "Whitney SSm A", "Whitney SSm B", Arial, sans-serif;
    font-family: 'Chonburi', cursive;
    color: #202020;*/
    font-weight: bold;
    border: none;
}

.page-header3 {
    font-size: 50px;
    line-height: 1.0;
    padding: 0 15px 0 5px;
    margin-top: 10px;
    margin-bottom: 0;
    /*margin-bottom: 40px;*/
    /*font-family: "caslonno224ef-blackregular", "Whitney SSm A", "Whitney SSm B", Arial, sans-serif;
    font-family: 'Chonburi', cursive;
    color: #202020;*/
    font-weight: bold;
    border: none;
}

.page-header4 {
    font-size: 50px;
    /*line-height: 34px;*/
    padding: 0 15px 0 18px;
    margin-top: 151px;
    margin-bottom: 0;
    /*margin-bottom: 40px;*/
    /*font-family: "caslonno224ef-blackregular", "Whitney SSm A", "Whitney SSm B", Arial, sans-serif;
    font-family: 'Chonburi', cursive;
    color: #202020;*/
    font-weight: bold;
    border: none;
}

.page-header5 {
    font-size: 50px;
    line-height: 1.0;
    padding: 0 15px 0 18px;
    margin-top: 151px;
    margin-bottom: 0;
    /*margin-bottom: 40px;*/
    /*font-family: "caslonno224ef-blackregular", "Whitney SSm A", "Whitney SSm B", Arial, sans-serif;
    font-family: 'Chonburi', cursive;
    color: #202020;*/
    font-weight: bold;
    border: none;
}

.page-header6 {
    font-size: 36px;
    line-height: 1.0;
    padding: 0 15px 0 15px;
    margin-top: 151px;
    margin-bottom: 0;
    /*margin-bottom: 40px;*/
    /*font-family: "caslonno224ef-blackregular", "Whitney SSm A", "Whitney SSm B", Arial, sans-serif;
    font-family: 'Chonburi', cursive;
    color: #202020;*/
    font-weight: bold;
    border: none;
}

.page-header7 {
    font-size: 50px;
    line-height: 1.0;
    padding: 0 15px 0 13px;
    margin-top: 151px;
    margin-bottom: 0;
    /*margin-bottom: 40px;*/
    /*font-family: "caslonno224ef-blackregular", "Whitney SSm A", "Whitney SSm B", Arial, sans-serif;
    font-family: 'Chonburi', cursive;
    color: #202020;*/
    font-weight: bold;
    border: none;
}

.page-header8 {
    font-size: 50px;
    /*line-height: 34px;*/
    padding: 0 15px 0 0;
    margin-top: 10px;
    margin-bottom: 0;
    /*margin-bottom: 40px;*/
    /*font-family: "caslonno224ef-blackregular", "Whitney SSm A", "Whitney SSm B", Arial, sans-serif;
    font-family: 'Chonburi', cursive;
    color: #202020;*/
    font-weight: bold;
    border: none;
}

.page-header9 {
    font-size: 50px;
    /*line-height: 34px;*/
    padding: 0 15px 0 25px;
    margin-top: 40px;
    margin-bottom: 0;
    /*margin-bottom: 40px;*/
    /*font-family: "caslonno224ef-blackregular", "Whitney SSm A", "Whitney SSm B", Arial, sans-serif;
    font-family: 'Chonburi', cursive;
    color: #202020;*/
    font-weight: bold;
    border: none;
}

.page-header-no-padding-left {
    font-size: 50px;
    /*line-height: 34px;*/
    padding: 0 15px 0 0;
    margin-top: 70px;
    margin-bottom: 0;
    /*margin-bottom: 40px;*/
    /*font-family: "caslonno224ef-blackregular", "Whitney SSm A", "Whitney SSm B", Arial, sans-serif;
    font-family: 'Chonburi', cursive;
    color: #202020;*/
    font-weight: bold;
    border: none;
}

.second-page-header {
    font-size: 24px;
    /*line-height: 34px;*/
    padding: 20px 15px 18px 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 18px;
    /*margin-bottom: 40px;*/
    /*font-family: "caslonno224ef-blackregular", "Whitney SSm A", "Whitney SSm B", Arial, sans-serif;
    font-family: 'Chonburi', cursive;
    color: #202020;*/
    font-weight: bold;
    border: none;
}

.second-page-header2 {
    font-size: 24px;
    /*line-height: 34px;*/
    padding: 20px 15px 18px 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 0;
    /*margin-bottom: 40px;*/
    /*font-family: "caslonno224ef-blackregular", "Whitney SSm A", "Whitney SSm B", Arial, sans-serif;
    font-family: 'Chonburi', cursive;
    color: #202020;*/
    font-weight: bold;
    border: none;
}

.second-page-header3 {
    font-size: 24px;
    /*line-height: 34px;*/
    padding: 20px 15px 0 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 0;
    /*margin-bottom: 40px;*/
    /*font-family: "caslonno224ef-blackregular", "Whitney SSm A", "Whitney SSm B", Arial, sans-serif;
    font-family: 'Chonburi', cursive;
    color: #202020;*/
    font-weight: bold;
    border: none;
}

.second-page-header4 {
    font-size: 26px;
    /*line-height: 34px;*/
    padding: 0 30px 0 5px;
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 18px;
    /*margin-bottom: 40px;*/
    /*font-family: "caslonno224ef-blackregular", "Whitney SSm A", "Whitney SSm B", Arial, sans-serif;
    font-family: 'Chonburi', cursive;
    color: #202020;*/
    font-weight: bold;
    border: none;
    text-align: right;
}

.second-page-header-large {
    font-size: 36px;
    /*line-height: 34px;*/
    padding: 0 30px 0 5px;
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 18px;
    /*margin-bottom: 40px;*/
    /*font-family: "caslonno224ef-blackregular", "Whitney SSm A", "Whitney SSm B", Arial, sans-serif;
    font-family: 'Chonburi', cursive;
    color: #202020;*/
    font-weight: bold;
    border: none;
    text-align: right;
}


.second-page-header-no-padding-left {
    font-size: 24px;
    /*line-height: 34px;*/
    padding: 20px 15px 18px 0;
    margin-top: 5px;
    margin-bottom: 10px;
    /*margin-bottom: 40px;*/
    /*font-family: "caslonno224ef-blackregular", "Whitney SSm A", "Whitney SSm B", Arial, sans-serif;
    font-family: 'Chonburi', cursive;
    color: #202020;*/
    font-weight: bold;
    border: none;
}

.left-margin-12 {
    margin-left: 12px;
}

.left-margin-18 {
    margin-left: 18px;
}

.left-margin-23 {
    margin-left: 23px;
}

.table {
    margin-left: 15px;
}

.table2 {
    margin-left: 0;
}

.table-no-border, table1 thead > tr > td, .table1 tbody > tr > td, .table1 tfoot > tr > td {
    border-top: none;
    padding: 0 8px 2px 8px;
    vertical-align: top;
}

.table-border-none {
    border-top: none;
    border-bottom: none;
    border: none;
}

.table-row-height-30 {
    height: 30px;
}

.table td.table-line-height-08 {
    line-height: 0.8;
    padding-top: 0;
}

.table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
    vertical-align: middle;
}

.table1 thead > tr > td, .table1 tbody > tr > td, .table1 tfoot > tr > td {
    vertical-align: top;
}


.subtitle-padding {
    padding-bottom: 50px;
}

.page-header-claim {
    font-size: 30px;
    line-height: 34px;
    padding: 20px 15px 18px 5px;
    margin-top: 10px;
    margin-bottom: 0;
    /*margin-bottom: 40px;*/
    /*font-family: "caslonno224ef-blackregular", "Whitney SSm A", "Whitney SSm B", Arial, sans-serif;
    font-family: 'Chonburi', cursive;
    color: #202020;*/
    font-weight: bold;
    border: none;
}

#show-hours-btn {
    font-weight: bold;
    font-size: 16px;
}

#show-hours-btn2 {
    font-weight: bold;
    font-size: 16px;
}

.btn-calc-hours {
    margin-left: 40px;
    margin-top: 1px;
    padding: 5px 12px;
    font-size: 16px;
    font-weight: bold;
}

.btn-copy-to-si {
    margin-left: 40px;
    margin-top: 1px;
    padding: 5px 12px;
    font-size: 16px;
    font-weight: bold;
}

.btn-blue {
    margin-left: 10px;
}

/*.btn-blue:hover, .btn-blue:focus, .btn-blue:active, .btn-blue.active, .open .dropdown-toggle.btn-blue {
    color: #0d06af;
    background-color: #a8c0e7;
    border-color: #646fc7;
}

.btn-green:hover, .btn-green:focus, .btn-green:active, .btn-green.active, .open .dropdown-toggle.btn-green {
    color: #053d12;
    background-color: #90ed9d;
    border-color: #51ba60;
}

.btn-red:hover, .btn-red:focus, .btn-red:active, .btn-red.active, .open .dropdown-toggle.btn-red {
    color: #ae0b05;
    background-color: #ea9e99;
    border-color: #cf4f5c;
}*/

/*.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open .dropdown-toggle.btn-secondary {
    color: #ffffff;
    background-color: #8b8585;
    border-color: #775454;
}*/

/*.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}*/

.btn-primary {
    margin-left: 58px;
    font-size: 22px;
    width: 130px;
}

.btn-primary2 {
    margin-left: 5px;
}

.btn-primary3 {
    margin-left: 5px;
    width: 150px;
}

.btn-primary4 {
    margin-left: 5px;
    width: 180px;
}

.btn-primary-small {
    margin-left: 0;
    font-size: 14px;
    width: 90px;
    padding: 6px 6px;
}

.btn-primary-configuration {
    margin-left: 0;
    font-size: 14px;
    width: 130px;
    padding: 0 0;
}

.btn-primary-wide {
    margin-left: 18px;
    font-size: 22px;
    width: 220px;
}

.btn-primary-wide2 {
    margin-left: 10px;
    font-size: 16px;
    width: 180px;
    padding: 6px 6px;
    margin-left: 29px;
}

.btn-primary-extra-wide {
    margin-left: 18px;
    font-size: 22px;
    width: 270px;
}

.btn-success {
    margin-left: 0;
    font-size: 22px;
    width: 130px;
}

.btn-success-small {
    margin-left: 0;
    font-size: 14px;
    width: 90px;
    padding: 6px 6px;
}

.btn-success-wide {
    margin-left: 5px;
    font-size: 22px;
    width: 220px;
}

.btn-danger {
    margin-left: 58px;
    font-size: 22px;
    width: 130px;
}

.btn-danger-small {
    margin-left: 0;
    font-size: 14px;
    width: 90px;
    padding: 6px 6px;
}

.btn-warning {
    margin-left: 58px;
    font-size: 22px;
    width: 130px;
}

.btn-warning-small {
    margin-left: 0;
    font-size: 14px;
    width: 90px;
    padding: 6px 6px;
}

.btn-secondary {
    margin-left: 0;
    font-size: 22px;
    width: 130px;
}

.btn-secondary2 {
    margin-left: 0;
    font-size: 16px;
    width: 120px;
    padding: 4px 0 8px 2px;
}

.btn-secondary-small {
    margin-left: 0;
    font-size: 14px;
    width: 90px;
    padding: 6px 6px;
}

.btn-secondary-xsmall {
    margin-left: 0;
    font-size: 14px;
    width: 55px;
    height: 31px;
    padding: 2px 2px;
}

.btn-secondary-small-wide {
    margin-left: 78px;
    font-size: 14px;
    width: 150px;
    padding: 6px 6px;
}

.btn-left-margin-5 {
    margin-left: 5px;
}

.btn-left-margin-10 {
    margin-left: 10px;
}

.btn-left-margin-22 {
    margin-left: 22px;
}

#add-stand-in-btn {
    font-weight: bold;
    font-size: 16px;
}

.bold-14 {
    font-size: 14px;
    font-weight: bold;
}

.bold-16 {
    font-size: 16px;
    font-weight: bold;
}

.bold-18 {
    font-size: 18px;
    font-weight: bold;
    padding-right: 9px;
}

.bold-24 {
    font-size: 24px;
    font-weight: bold;
    padding-right: 5px;
}

.bold-36 {
    font-size: 36px;
    font-weight: bold;
    padding-left: 18px;
}

.hr-low-margin {
    margin-bottom: 2px;
    margin-top: 2px;
}


.bold-colon {
    font-size: 14px;
    font-weight: bold;
    margin-left: 15px;
    padding-top: 6px;
}

.font-size-9 {
    font-size: 9px;
}

.font-size-11 {
    font-size: 11px;
}

.font-size-12 {
    font-size: 12px;
    padding-left: 5px;
}

.font-size-16 {
    font-size: 16px;
}

.small-font {
    font-size: 10px;
}

.schedule-table {
    /*margin-top: 30px;*/
    max-width: 860px;
}

.smallcol {
    width: 50px;
}

.left-col-padding {
    padding-left: 0;
    padding-right: 5px;
}

.col-padding {
    padding-left: 5px;
    padding-right: 5px;
}

.role-padding {
    padding-left: 13px;
}

.left-padding-18 {
    padding-left: 18px;
}

.height-28 {
    height: 28px;
}

.low-form-control {
    height: 22px;
    padding: 0 2px;
}

.form-control-width {
    width: 35px;
}

.small-form-control {
    width: 24px;
}

.col-padding-40 {
    padding-top: 12px;
    padding-left: 50px;
}

.col-padding-10 {
    padding-left: 10px;
}

.col-padding-17 {
    padding-left: 17px;
}

.col-padding-20 {
    padding-left: 20px;
}

.col-left-margin {
    margin-left: 15px;
}

.col-left-margin-6 {
    margin-left: 6px;
}

.col-left-margin-18 {
    margin-left: 18px;
}

special-left-margin {
    margin-left: 0;
}

.calc-padding-top {
    padding-top: 4px;
}

.div-frame {
    border: 1px solid;
    border-color: #ae0b05;
    border-radius: 1px;
    /*border-color: #d7cece;*/
    padding-left: 7px;
    background-color: #ffffff;
}

.div-assistant-frame {
    line-height: 0.8;
    border: 1px solid;
    border-color: #ae0b05;
    border-radius: 1px;
    /*border-color: #d7cece;*/
    padding-left: 28px;
    /*background-color: #c9caff;*/
    margin-bottom: 50px;
    margin-left: 15px;
    /*background-color: #ebe6e6;*/
    /*background-color: #d7cece;*/
}

.div-assistant-frame2 {
    line-height: 0.8;
    border: 1px solid;
    border-color: #ae0b05;
    border-radius: 1px;
    /*border-color: #d7cece;*/
    padding-left: 28px;
    /*background-color: #c9caff;*/
    margin-bottom: 20px;
    margin-left: 15px;
    /*background-color: #ebe6e6;*/
    /*background-color: #d7cece;*/
}

.div-oncall-hours {
    border: 1px solid;
    border-color: #ae0b05;
    border-radius: 1px;
    margin-left: 27px;
}

.row-height-10 {
    height: 10px;
}

.row-height-4 {
    height: 4px;
}

.row-height-22 {
    height: 22px;
}

.margin-bottom-small {
    margin-bottom: 8px;
}


.height-38 {
    height: 38px;
    font-size: 18px;
    /*font-weight: bold;*/
}

.row-height-24 {
    height: 24px;
    font-size: 24px;
}

.row-height-26 {
    height: 26px;
}

.row-height-14 {
    height: 14px;
}

.row-height-42 {
    height: 42px;
    font-size: 24px;
}

.border-radius-1 {
    border-radius: 1px;
}

/*TEST*/

.col-md-nopadding {
    padding-left: 0;
    padding-right: 0;
}

.col-md-2-nopadding {
    padding-left: 0;
    padding-right: 0;
}

.bold-colon2 {
    font-size: 14px;
    font-weight: bold;
    margin-left: 6px;
    margin-right: 3px;
    width: 8px;
}

.small-errormessage {
    width: 94px;
}

.small-errormessage2 {
    width: 95px;
    text-align: left;
}

.no-padding-left3 {
    padding-left: -32px;
    margin-left: -32px;
    width: 92px;
}

.no-padding-left4 {
    padding-left: 0;
    margin-left: 0;
    width: 220px;
}

.no-padding-left5 {
    padding-left: 0;
    margin-left: 0;
    width: 92px;
}

.padding-top-7 {
    padding-top: 7px;
}

.col-small-margin-left {
    margin-left: 3px;
}

.col-margin-left {
    margin-left: 7px;
}

.small-form-control-time {
    width: 28px;
}

.small-form-control-time2 {
    width: 51px;
}

.small-form-control-time3 {
    width: 75px;
}

.bold-colon3 {
    font-size: 24px;
    font-weight: bold;
    margin-left: 9px;
    margin-top: 5px;
    width: 10px;
}

.small-form-control2 {
    width: 50px;
}

.low-form-control2 {
    height: 30px;
    padding: 0 4px;
    margin-top: -5px;
    font-size: 24px;
}

.small-row-margin {
    margin-left: -3px;
    margin-right: -3px;
}

.small-row-padding {
    padding-left: 0;
    padding-right: 0;
}

.col-md-4-fw {
    width: 70px;
}

.col-md-4-fixed-width {
    width: 130px;
}

.small-row-fw {
    width: 70px;
}

.small-row-fixed-width {
    width: 130px;
}

.col-margin-left-stoptime {
    margin-left: -1px;
}

.small-row-margin2 {
    margin-left: 15px;
    margin-right: -3px;
}

.small-row-margin3 {
    margin-left: 0;
    margin-right: -3px;
}

.small-row-margin4 {
    margin: 1px 0 1px 0;
    /*margin-right: -3px;*/
}

.oncall-margin {
    margin-left: 9px;
}

.row-padding {
    padding: 10px 0 10px 0;
}

.row-padding2 {
    padding: 5px 0 5px 0;
}

.wide-input {
    max-width: 750px;
    width: 750px;
    text-align: left;
}

.height-24 {
    height: 24px;
    font-size: 18px;
    /*font-weight: bold;*/
}

.height-18 {
    height: 18px;
    font-size: 18px;
}

.height-14 {
    height: 14px;
}

.line-height-06 {
    line-height: 0.6;
}

.line-height-04 {
    line-height: 0.4;
}

.small-row-fixed-width2 {
    width: 55px;
}

.small-row-fixed-width3 {
    width: 138px;
}

.div-margin-left {
    margin-left: 14px;
}

.assistant-heading {
    font-size: 36px;
    margin-left: -15px;
}

.line-height-05 {
    line-height: 0;
}

.div-padding {
    padding-top: 0;
    padding-bottom: 20px;
}

.row-height {
    height: 36px;
    line-height: 1;
}

.row-height-12 {
    height: 12px;
}

.row-height-50 {
    height: 50px;
}

.row-heigt-20 {
    height: 1px;
    line-height: 0.4;
}

.row-height-36 {
    height: 36px;
}

.row-height-30 {
    height: 30px;
}

.row-height-32 {
    height: 32px;
}

.height-30 {
    height: 30px;
}

.height-40 {
    height: 30px;
}

.negative-padding-top {
    padding-top: -15px;
}

.date-padding {
    padding-top: 123px;
}

.date-margin {
    margin-top: 20px;
}

.date-margin2 {
    margin-top: 46px;
}

.display-hours {
    margin-top: 5px;
    padding-left: 1px;
}

.display-unsocial-hours {
    margin-top: 5px;
    padding-left: 7px;
}

.display-hour-heading {
    margin-left: -7px;
}

.display-unsocial-hour-heading {
    margin-left: 3px;
}

.form-group-heading {
    font-size: 26px;
    font-weight: bold;
    padding-left: 5px;
}

.form-group-subheading {
    font-size: 20px;
    font-weight: bold;
    padding-left: 5px;
}

.form-group-div-frame {
    border: 1px solid;
    border-color: #c6bdbd;
    /*border-color: #ae0b05;*/
    border-radius: 4px;
    margin-bottom: 25px;
    margin-left: 18px;
}

.label-padding {
    padding-left: 10px;
}

.label-attachment2 {
    padding-left: 10px;
    font-weight: bold;
}

.label-attachment {
    padding-left: 25px;
    font-weight: bold;
}

.display-padding {
    padding-left: 25px;
}

.display-padding2 {
    padding-left: 15px;
}

.display-padding3 {
    padding-left: 10px;
}

.display-padding4 {
    padding-left: 12px;
}

.display-padding5 {
    padding-left: 22px;
}

.display-padding6 {
    padding-left: 37px;
}

.display-padding-large {
    padding-left: 45px;
}

.extra-padding-attachment {
    padding-left: 10px;
}

.control-label-left-align {
    font-weight: bold;
    text-align: left;
    margin-bottom: 0;
    padding-left: 15px;
}

.control-label-left-align2 {
    font-weight: bold;
    text-align: left;
    margin-bottom: 0;
    padding-left: 27px;
}

.control-label-left-small-padding {
    font-weight: bold;
    text-align: left;
    margin-bottom: 0;
    padding-left: 7px;
}

.control-label-left-medium-padding {
    font-weight: bold;
    text-align: left;
    margin-bottom: 0;
    padding-left: 11px;
}

.control-label-left-no-padding {
    font-weight: bold;
    text-align: left;
    margin-bottom: 0;
    padding-left: 0;
}

.col-no-margin-left {
    margin-left: 0;
}

.col-no-left-padding {
    padding-left: 0;
}

.col-no-right-padding {
    padding-right: 0;
}

.col-small-left-padding {
    padding-left: 5px;
}

.col-small-left-padding2 {
    padding-left: 7px;
}

.no-left-margin {
    margin-left: 0;
}

.line-height-10 {
    line-height: 1.0;
}

.line-height-12 {
    line-height: 1.2;
}

.subheading-padding {
    padding-left: 0;
}

.display-right-align {
    text-align: right;
}

.display-right-align2 {
    text-align: right;
    margin-top: 7px;
}

.display-right-align3 {
    text-align: right;
    padding-top: 6px;
}

.subheading {
    font-size: 24px;
    margin-left: 10px;
}

.no-col-padding {
    padding-left: 0;
}

.small-col-padding {
    padding-left: 10px;
}

.negative-col-padding {
    padding-left: -7px;
}

.no-right-padding {
    padding-right: 0;
}

.control-label-large {
    font-size: 19px;
    font-weight: normal;
}

.control-label-large2 {
    font-size: 16px;
    font-weight: normal;
}

.display-result {
    font-size: 16px;
}

.display-large-font {
    font-size: 22px;
}

.display-large-font1 {
    font-size: 19px;
}

.display-large-font2 {
    font-size: 16px;
}

.align-bottom1 {
    margin-top: 12px;
    margin-bottom: 0;
    /*padding-left: 26px;*/
}

.align-bottom2 {
    margin-top: 11px;
    /*padding-left: 26px;*/
}

.align-bottom3 {
    margin-top: 8px;
}

.align-bottom4 {
    margin-top: 16px;
}

.align-bottom5 {
    margin-top: 38px;
}

.align-bottom6 {
    margin-top: 3px;
}

.align-bottom7 {
    margin-top: 7px;
}

.align-bottom8 {
    margin-top: 4px;
}

.breadcrumb {
    background-color: #ffffff;
    margin-top: 110px;
}

.breadcrumb-font {
    font-weight: normal;
    font-size: 15px;
}

a:hover, a:focus {
    color: #ae0b05;
}

.breadcrumb-padding {
    padding: 0 6px;
    color: #ae0b05;
    display: inline-block;
}

.breadcrumb > .active {
    color: #808080;
}

/*.super-large-font {
    font-size: 100px;
}*/

.index-page-margin {
    margin-top: 150px;
}

.small-col-admin {
    width: 8%;
}

.medium-col-admin {
    width: 12%;
}

.slarge-col-admin {
    width: 16%;
}

.large-col-admin {
    width: 25%;
}

.small-col {
    width: 60px;
}

.small-col-ombud {
    width: 10%;
}

.ssmall-col-ombud {
    width: 8%;
}

.xsmall-col-ombud {
    width: 5%;
}

.medium-col {
    width: 90px;
}

.claimdetails-col {
    width: 11%;
    vertical-align: text-top;
}

.input-height {
    line-height: 25px;
}

.row-divider {
    border-bottom: 1px solid #c6bdbd;
}

.claim-divider {
    border: 2px solid;
    border-color: #ae0b05;
}

.padding-left-no-claim {
    padding-left: 5px;
}

.padding-left-no-claim2 {
    padding-left: 15px;
}

.padding-left-55 {
    padding-left: 55px;
}

.no-breadcrumb-top {
    margin-top: 150px;
}

.no-breadcrumb-top2 {
    margin-top: 140px;
}

.control-width {
    width: 255px;
}

.large-form-control {
    font-size: 22px;
}

.large-form-control2 {
    font-size: 16px;
}

.decision-padding-left {
    padding-left: 28px;
}

.decision-padding-left2 {
    padding-left: 48px;
}

.control-width-small {
    width: 130px;
    height: 45px;
}

.control-width-small2 {
    width: 100px;
    height: 26px;
    margin-top: 2px;
    margin-left: 19px;
}

.control-width2 {
    width: 600px;
    height: 170px;
    margin-top: 2px;
    margin-left: 19px;
}

.float-right {
    float: right;
}

.no-padding-left {
    padding-left: 0;
    width: 75%;
    max-width: none;
}

.no-padding-left2 {
    padding-left: 0;
    text-align: left;
}

.small-padding-left {
    padding-left: 5px;
}

.small-padding-left2 {
    padding-left: 8px;
}

.small-padding-left3 {
    padding-left: 6px;
}

.small-padding-left4 {
    padding-left: 14px;
}

.small-padding-left5 {
    padding-left: 11px;
}

.table-button-cell {
    width: 114px;
}

.table-large-font {
    font-size: 30px;
}

.table-large-font-bold {
    font-size: 30px;
    font-weight: bold;
}

.table-wide-column {
    width: 480px;
}

.table-no-margin-bottom {
    margin-bottom: 0;
}

.negative-result {
    /*color: #ffffff;*/
    color: #d2322d;
    /*background-color: #d2322d;*/
    /*margin-left: 4px;*/
}

.positive-result {
    /*color: #ffffff;*/
    color: #47a447;
    /*background-color: #47a447;*/
    /*margin-left: 4px;*/
}

.highlight-green-bold {
    color: #47a447;
    font-weight: bold;
}

.highlight-red-bold {
    color: #d2322d;
    font-weight: bold;
}

.highlight-green {
    color: #47a447;
}

.highlight-red {
    color: #d2322d;
}

.frame-procapita-login {
    height: 200px;
    width: 550px;
    border-color: #e7e7e8;
    border: 1px solid;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.grey-filler {
    height: 35px;
    width: 547px;
    background-color: #f5f5f5;
    margin-bottom: 20px;
    border-radius: 4px 0;
    /*text-align: center;*/
    vertical-align: middle;
    padding-top: 7px;
    padding-left: 180px;
}

.decide-display-for {
    background-color: #790860;
    color: #ffffff;
    border-radius: 3px;
    padding: 5px;
    margin-left: 15px;
    margin-top: 7px;
    float: left;
}

.collective-agreement-header {
    font-size: 30px;
    font-weight: bold;
    padding-left: 5px;
}

#divRobin {
    position: absolute;
    left: 75% !important;
    top: 1200px; /*Outta sight*/
    width: 250px;
    height: 185px;
    z-index: 100;
    transition-delay: 3s;
    transition-timing-function: ease-out;
    transition: top 4s;
    -webkit-transition: top 4s;
    float: right;
}

.hidden-by-default {
    display: none;
}
