@model Sjuklöner.Viewmodels.MessageVM



<div class="row form-group">
    <div class="col col-md-2">
        <p>@Model.Date</p>
    </div>
    <div class="col col-md-2">
        <p>@Model.Name</p>
    </div>
    <div class="col col-md-8">
        <p>@Model.Comment</p>
    </div>
</div>
