
@{
    ViewBag.Title = "StodsystemLogout";
}
<div style="background-color:lightgrey; padding:300px; border-radius: 10px;">
    <h2>Information om beslutet har skickats till ombudet.</h2>
    <h4>Du loggas ut från Stödsystem, VoO</h4>
</div>

